<div class="h-full flex flex-col">
  <div class="header h-1/2 relative">
    <img src="assets/header-bg.svg" alt="Background Image" class="header-bg" />
    <div class="header-content relative z-10 p-4">
      <h1 class="text-white">Header</h1>
      <!-- Votre contenu de l'en-tête ici -->
    </div>
  </div>

  <div class="grow flex flex-col justify-start items-center">
    <c3-card
      class="max-w-2xl border border-cyan-500 border-opacity-45 backdrop-blur-md -mt-32 backdrop-brightness-90 !bg-transparent"
    >
      <h4 class="text-2xl font-bold mx-2 my-4">Page de test pour une header</h4>
      <p class="m-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non
        risus et erat bibendum tristique dictum ac diam. Donec egestas dui in
        velit tristique blandit. Integer pellentesque fringilla rutrum. Nulla
        facilisi. Sed interdum ultrices velit eget porta. Aliquam quis pretium
        risus. Duis bibendum dui non imperdiet eleifend. Mauris eget magna
        maximus, feugiat neque at, tincidunt sapien. Sed volutpat facilisis ex,
        at blandit augue feugiat cursus. Sed sagittis, lorem non dignissim
        commodo, ex sapien eleifend nisl, sit amet pulvinar sapien ante vitae
        ligula. Nunc nunc justo, porttitor eu augue eu, tincidunt convallis
        libero. Sed semper bibendum nibh, eget rutrum sapien pretium sed. Ut sed
        tortor quis dolor bibendum fringilla eu vel tellus.
      </p>
    </c3-card>
  </div>
</div>
