
modules = ["nodejs-20", "web"]
run = "bun start"
onBoot = "bun install"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun start"]

[[ports]]
localPort = 4200
externalPort = 4200
exposeLocalhost = true

[javascript]
nodeVersion = "20"

[dev]
disableWatcherAutoRun = true
