<a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/dd-example" routerLinkActive="active">dropdown example</a>
<a routerLink="/encapsulation-example" routerLinkActive="active"
  >encapsulation-example example</a
>
<a routerLink="/auto-scroll" routerLinkActive="active">auto-scroll example</a>
<a routerLink="/watch-sample" routerLinkActive="active">watch example</a>
<a routerLink="/template-ref-sample" routerLinkActive="active"
  >Template Ref example</a
>
<a routerLink="/animation-example" routerLinkActive="active">
  Animation Example
</a>
<a routerLink="/rotation-example" routerLinkActive="active">
  Rotation Example
</a>
