<c3-card>
  <c3-menu-coulant>
    <c3-menu-coulant-menu>
      <h4 menu-title>Menu 1</h4>
      <c3-menu-coulant-content>
        <h1>Contenu 1</h1>
        <p>
          1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <br />
          2. Sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
          <br />
        </p>
      </c3-menu-coulant-content>
    </c3-menu-coulant-menu>
    
    <c3-menu-coulant-menu>
      <h4 menu-title>Menu 2</h4>
      <c3-menu-coulant-content>
        <h1>Contenu 2</h1>
        <p>
          1. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
          2. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.
        </p>
      </c3-menu-coulant-content>
    </c3-menu-coulant-menu>
  </c3-menu-coulant>
</c3-card>
