<ul class="p-4">
  Pour vérifier que l'encapsulation pose problème:
  <h1>Partie 1</h1>
  <li>
    1 - Vérifie la couleur de l'input dans
    src/app/components/componennt-input/componennt-input.component.scss
  </li>
  <li>
    2 - Vérifie la couleur de l'input dans
    src/app/pages/home/pages/encapsulation-example/encapsulation-example.component.scss
  </li>
  <li>
    3 - ensuite active l'encapsulation dans
    src/app/pages/home/pages/encapsulation-example/encapsulation-example.component.ts
  </li>
  <h1>Partie 2</h1>
  <li>4- ajoute un input dans home.html</li>
  <li>
    5 - active le host et la class dans
    src/app/pages/home/pages/encapsulation-example/encapsulation-example.component.ts et
    .scss
  </li>
</ul>
<c3-component-input></c3-component-input>
