<c3-carousel>
  @for (item of items; track item) {
    <c3-card c3CarouselItem>
      <p>coucou {{ item }}</p>

      <button (click)="openDropdown($event, item)">Open dropdown</button>
    </c3-card>
  }
</c3-carousel>
<div
  class="overflow-y-auto max-h-[600px] flex flex-col gap-4 m-4"
  c3AttachScroll
  c3OnScrollEnd
  (c3OnScrollEnd)="load()"
>
  @for (item of items; track item) {
    <c3-card c3CarouselItem>
      <p>coucou {{ item }}</p>

      <button (click)="openDropdown($event, item)">Open dropdown</button>
    </c3-card>
  }
</div>
