<div class="bg-slate-800 elevation px-2 py-4 flex gap-4">
  <a routerLink="/home/dd-example" routerLinkActive="active"
    >dropdown example</a
  >
  <a routerLink="/home/encapsulation-example" routerLinkActive="active"
    >encapsulation-example example</a
  >
</div>

<div class="p-4">
  <h1>Projet que personne n'aime</h1>

  <router-outlet></router-outlet>
</div>

<div class="p-4">
  <input
    type="text"
    placeholder="Input dans le home component"
    class="bg-white rounded p-2 w-full elevation"
  />
</div>
