:host {
  display: block;
}

.header {
  position: relative;
  overflow: hidden;
  height: 300px; /* Ajustez la hauteur selon vos besoins */
  background-color: rgba(12, 123, 139);
}

.header-bg {
  background: url("https://media.discordapp.net/attachments/1214628470726983790/1251262869014708335/random_pattern.png?ex=666df0db&is=666c9f5b&hm=f8b971c9f60b339d53c6ff84bd8016f07ddc8344034cc0048906ad43e370219f&=&format=webp&quality=lossless");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px); /* Applique le flou */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
}

.header-content {
  position: relative;
  z-index: 2;
  /* Ajoutez d'autres styles pour votre contenu */
}
