<div class="layout-container">
  <aside class="sidebar">
    <nav>
      <ul>
        @for (route of childRoutes(); track route.path) {
          <li>
            <a [routerLink]="[route.path]" routerLinkActive="active">
              {{ route.data?.['title'] || route.path }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </aside>

  <c3-toolbar class="toolbar">
    {{activePageTitle()}}
  </c3-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
